body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.fighters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 180px;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
  cursor: pointer;
}

.name {
  align-self: center;
  font-size: 21px;
  margin-top: 20px;
}

.fighter-image {
  height: 260px;
  object-fit: contain;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7)
}

button, button:focus {
  border: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

#modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.7);
}

.hidden {
  visibility: hidden;
}

.modal__container {
  width: 250px;
  background-color: whitesmoke;
  box-shadow: 12px 12px 2px 1px rgba(29, 2, 9, 0.2);
  margin: 10px auto;
}

.modal__header {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.modal__header-text {
  flex: 1;
  text-align: center;
}

.modal__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
}

.modal__action-block {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
}

.btn-close {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  text-align: center;
}

.details-modal__img {
  height: 120px;
  object-fit: scale-down;
}

.btn-action, .btn-action:focus {
  border: 2px solid red;
  padding: 0 15px;
  text-align: center;
  font-size: 1.2rem;
  margin: 15px;
}

.details-modal__details-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-controller__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  margin: 10px;
  width: 100%;
}

.details-controller__icon {
  height: 20px;
}

.fighters-selector__container {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: space-around;
  background-color: #bf2e2b;
}

.selected-fighter__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.selected-fighter__image-left,
.selected-fighter__image-right {
  height: 150px;
  object-fit: scale-down;
}

.selected-fighter__image-right {
  transform: scale(-1, 1);
}

.selected-fighter__details-block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.selected-fighter__icon {
  height: 20px;
}

.selected-fighter__name {
  text-align: center;
  font-size: 1.3rem;
  margin: 0;
  padding: 5px;
  width: 100%;
}
